html,
body {
    height: 100%;
    margin: 0;
    background: rgb(43, 43, 43);
    border: none;
}

.notes {
    display: flex;
    height: 100%;
    
}

.notes * {
    font-family: sans-serif;
    color:#005481;
    
}


.notes__sidebar {
    
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;

    
}

.notes__add {
    background:#02465b;
    border: none;
    border-radius: 7px;
    color:#b3e2f0;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background:#b3e2f0;
    color: #02465b;
}

.notes__list-item {
    cursor: pointer;
    color:#b3e2f0 ;
    
}

.notes__list-item--selected {
    
    background: #02465b;
    border-radius: 7px;
    font-weight: bold;
    text-align: left;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
    color: #b3e2f0;
}

.notes__small-body {
    padding: 0 10px;
    color: #b3e2f0;

}

.notes__small-updated {
    color:#b3e2f0;
    font-style: italic;
    text-align:start;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
    background ;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
    background: #b3e2f0;
    border-radius: 15px;
    color;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
    color:#b3e2f0;
    background: rgb(43, 43, 43);
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    color:#b3e2f0;
    background: rgb(43, 43, 43);
}